.body {
  font-family: 'Comic Sans MS', cursive;
}

.app {
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(247, 143, 16), rgb(229, 245, 106));
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoWrapper {
  background: #9898ec;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .todoWrapper {
    width: 92%;
    padding: 1rem;
  }
}

.todoWrapperColour {
  color: #ffe9d0;
}

.todoForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.todoInput {
  outline: none;
  background: none;
  border: 1px solid #f9e2af;
  padding: 0.5rem 2rem 0.5rem 1rem;
  color: #fff;
  height: 50px;
  border-radius: 5px;
  width: 100%;
}

.todoInput::placeholder {
  color: #f9e2af;
}

.todoBtn {
  position: absolute;
  right: 5px;
  background: #f9e2af;
  color: #4a249d;
  border: none;
  padding: 0.55rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .todoForm {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .todoBtn {
    border-radius: 2px;
    width: 10px;
    padding: 0.55rem 0.55rem;
  }
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebd06d;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 90%;
}

.incompleted {
  color: #4a249d;
  font-weight: bold;
  cursor: pointer;
}

.completed {
  color: #4a249d;
  font-weight: bold;
  cursor: pointer;
}

.editIcon,
.deleteIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

@media (max-width: 767px) {
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ebd06d;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  .todoText {
    flex: 1;
    margin: 0;
  }

  .iconText {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
  }

  .deleteIcon {
    background: #8758ff;
    color: #fff;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0.5rem;
  }

  .todoInput {
    width: calc(100% - 100px);
  }

  .todoBtn {
    width: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .todoWrapper {
    padding: 1.5rem;
    width: 85%;
  }

  .todoInput {
    width: 100%;
  }

  .todoBtn {
    width: 80%;
    margin-top: 1rem;
  }
}

.completedIcon,
.uncompletedIcon {
  font-size: 26px;
  cursor: pointer;
  margin-right: 10px;
}

.completedIcon {
  color: rgb(19, 197, 19);
}

.uncompletedIcon {
  color: rgb(241, 15, 15);
}

.iconText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .iconText {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .actions {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .completedIcon,
  .uncompletedIcon {
    margin-right: 4px;
  }

  .deleteIcon {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .iconText {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .actions {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .completedIcon,
  .uncompletedIcon {
    margin-right: 2px;
  }

  .deleteIcon {
    margin-left: 0.5rem;
  }
}
